# Configure NPM when running in this monorepo.
# See https://docs.npmjs.com/cli/configuring-npm/npmrc
# See https://docs.npmjs.com/cli/using-npm/config

# Don't display packages looking for funding after every 
up to date, audited 338 packages in 596ms

137 packages are looking for funding
  run `npm fund` for details

found 0 vulnerabilities command.
# But consider funding some of the amazing open source projects you depend on!
# See https://docs.npmjs.com/cli/commands/npm-fund
fund = false
